body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-fire {
  background-color: #EE8130;
}

.bg-normal {
  background-color: #A8A77A;
}

.bg-water {
  background-color: #6390F0;
}

.bg-electric {
  background-color: #F7D02C;
}

.bg-grass {
  background-color: #7AC74C;
}

.bg-ice {
  background-color: #96D9D6;
}

.bg-fighting {
  background-color: #C22E28;
}

.bg-poison {
  background-color: #A33EA1;
}

.bg-ground {
  background-color: #E2BF65;
}

.bg-flying {
  background-color: #A98FF3;
}

.bg-psychic {
  background-color: #F95587;
}

.bg-bug {
  background-color: #A6B91A;
}

.bg-rock {
  background-color: #B6A136;
}

.bg-ghost {
  background-color: #735797;
}

.bg-dragon {
  background-color: #6F35FC;
}

.bg-dark {
  background-color: #705746;
}

.bg-steel {
  background-color: #B7B7CE;
}

.bg-fairy {
  background-color: #D685AD;
}